.header{
    margin-bottom: 20px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);;
    color: white;

    a.active{
        background-color: #000;
    }
}