<nav class="header">
  <h1>Herolo Weather site</h1>
  <a routerLink="/" routerLinkActive="active" mat-button color="accent" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  <a routerLink="/favorites" routerLinkActive="active" mat-button color="accent">Favorites</a>
  <mat-slide-toggle class="toggle" [(ngModel)]="weatherService.isCelcius">
    F/C
  </mat-slide-toggle>
</nav>
