.container{
    @media (min-width: 760px){
    padding-top: 10px;
    margin-left: 50px;
    display: inline-flex;
    align-items: center;
    flex-flow:wrap;
    justify-content: space-around;
        }
        flex-flow:column;
}


.day-item{
    width: 5rem;
    margin: 10px;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    color: whitesmoke;
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
}

.toggle{
    display: flex;
    justify-content: center;
}