<div class="container">
  <div class="day-item" *ngFor="let day of forecast">
    <div>
      {{formatDayName(day.Date)}}
    </div>
    <img src="{{imagesUrl.replace('{INDEX}', day.Day.Icon)}}" alt="{{day.Day.IconPhrase}}">
    <div>
      {{!weatherService.isCelcius ? day.Temperature?.Maximum?.Value : weatherService.toCelcius(day.Temperature?.Maximum?.Value)}}
      <span *ngIf="!weatherService.isCelcius" class="temperature">&#8457;</span>
      <span *ngIf="weatherService.isCelcius" class="temperature">&#8451;</span>
    </div>
  </div>
  <div>

  </div>
</div>
