/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);;
    background-size: cover;
    color: white;
    font-family: cursive;
    
}
.temperature{
    text-align: center;
    width: 15px;
    display: inline-block;
}
.toggle{
    float: right;
    padding: 5px;
}

.mat-form-field-appearance-legacy .mat-form-field-label{
    color:whitesmoke;
    font-weight: bold;
    font-family: cursive;
}

.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button,
.mat-slide-toggle-content{
    color: rgb(6, 11, 59);
    font-family: cursive;
    font-weight: bold;
}

.mat-slide-toggle-bar{
    background-color: #ccc;
}

.mat-form-field-appearance-legacy .mat-form-field-underline{
    background-color: whitesmoke;
}

.mat-input-element{
    caret-color:  rgb(6, 11, 59);
}
.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #ccc;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: rgb(6, 11, 59);
}