<h1>Favorites</h1>
<div class="favorites-box">

  <div class="favorite-item" *ngFor="let city of favorites_cities" (click)="changeCity(city)">
    <div class="city-name">
      {{city.LocalizedName }}
    </div>
    <img src="{{imagesUrl.replace('{INDEX}', city.value?.Day?.Icon)}}" alt="{{city.value?.Day?.IconPhrase}}">
    <div>
      {{!weatherService.isCelcius ? city.value?.Temperature?.Maximum?.Value : weatherService.toCelcius(city.value?.Temperature?.Maximum?.Value)}}
      <span *ngIf="!weatherService.isCelcius" class="temperature">&#8457;</span>
      <span *ngIf="weatherService.isCelcius" class="temperature">&#8451;</span>
    </div>
    <div>
      {{city.value?.Day?.IconPhrase }}
    </div>
  </div>
</div>
