h1{
    color: white;
    font-family: cursive;
    display: flex;
    justify-content: center;
}

.favorites-box{
    display:flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.favorite-item{
    margin:10px;
    padding: 10px;
    text-align: center;
    width: 5rem;
    border: 2px solid;
    border-radius: 7%;
    color: whitesmoke;
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.city-name{
    text-align: center;
}

.toggle{
    display: flex;
    justify-content: center;
}