
.search-box{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    
    
}

.selected{
    align-items: center;
}

.selected-box{
    display: flex;
    justify-content: center;
    
}

.selected-city{
    display: flex;
    align-items: center;
    color: white;
    font-family: cursive;
    font-weight: bold;
}

.favorite{
    margin-left: 5px;
}

.forecast{
    display: flex;
    justify-content: center;
}