<form class="example-form search-box">
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Search" [(ngModel)]="search" (keypress)="inputValidator($event)"
      [formControl]="myControl" [matAutocomplete]="auto" #searchinput>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let city of autoCompleteCities" [value]="city.LocalizedName" (click)="changeCity(city)">
        {{city.LocalizedName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<div class="selected-box">
  <div class="selected-city">
    {{weatherService.selectedCity?.LocalizedName}}
    {{!weatherService.isCelcius ? weatherForecasts[0]?.Temperature?.Maximum?.Value:weatherService.toCelcius(weatherForecasts[0]?.Temperature?.Maximum?.Value) }}
    <span *ngIf="!weatherService.isCelcius" class="temperature">&#8457;</span>
    <span *ngIf="weatherService.isCelcius" class="temperature">&#8451;</span>
    <i *ngIf="!isFavorite(weatherService.selectedCity)" class="material-icons favorite" (click)="addToFavorites(weatherService.selectedCity)  ">
        favorite_border
    </i>
    <i *ngIf="isFavorite(weatherService.selectedCity)" class="material-icons favorite" (click)="addToFavorites(weatherService.selectedCity)  ">
        favorite
    </i>
  </div>
</div>
<div class="forecast">
    <hrl-forecast *ngIf="weatherForecasts.length" [forecast]="weatherForecasts"></hrl-forecast>
</div>
